<!DOCTYPE html>
<html lang="en">
<head>
  <title>Versatile Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/styles1.css">
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Versatile Store</h1>      
    <p>Mission, Vission & Values</p>
  </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">Versatile Store</a>
        </div>
        <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/user"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Vanguard</div>
        <div class="panel-body"><img src="./images/CFV-logo.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">OUTSTOCK</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-danger">
        <div class="panel-heading">Force Of Will</div>
        <div class="panel-body"><img src="./images/ForceOfWill-logo.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">OUTSTOCK</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-success">
        <div class="panel-heading">YuGiOh</div>
        <div class="panel-body"><img src="./images/YGO-logo.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">OUTSTOCK</div>
      </div>
    </div>
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Battle Spirits</div>
        <div class="panel-body"><img src="./images/BF-logo_.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Comming Soon</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Pokemon</div>
        <div class="panel-body"><img src="./images/PKM-logo.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Comming Soon</div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Weiß Schwarz</div>
        <div class="panel-body"><img src="./images/logo-ws.png" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Available</div>
      </div>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <p>Versatile Store</p>  
</footer>

</body>
</html>